.vs/
WpfApp1/bin/
WpfApp1/obj/
HeadController/Debug/HeadController.lib.recipe
HeadController/Debug/HeadController.log
HeadController/Debug/
HeadControllerWrapper/Debug/
Debug/
HeadControllerWrapper/Release/
HeadController/Release/
Release/
